<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Daily Task</title>
    <style>
        body{
            background-color: b1cfd8;
        }
        .main_block{
            width: 65%;
            margin: 2% auto;
            background-color: #b0d3e4;
            min-height: 400px;
            border-radius: 5px;
            border: 2px solid;
        }
        .titlebar{
            width: 65%;
            margin: 2% auto;
            height: 55px;
            background-color:#092950;
            text-align: center;
            color: white;
            border-radius: 5px;
        }
        .enter_details{
            display: flex;
            justify-content: space-around;
            padding-top: 16px;

        }
        select{
            height: 46px;
            width: 100px;
            background: black;
            border-radius: 6px;
            color: white;
            text-align: center;
            padding-left: 12%;
        }
        option{
            padding: 2px
        }
        .addbutton{
            height: 44px;
            border-radius: 6px;
            width: 79px;
            background-color: #4eb75e;
            border: 1px solid;
            font-size: 22px;
            color: white;
        }
        .textareaclass{
            border: 2px solid;
            border-radius: 9px;
            padding-left: 5%;
            padding-right: 5%;
            resize: none;
        }
        button[disabled]{
            background-color: aliceblue;
            color:#333;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }
        .hmc{
            display: inline-block;
            float: right;
            margin: auto 15px;
            background-color: #00000094;
             padding-left: 5px;
        }
        .alltask{
            color: #00000094;
            font-weight: bold;
            font-family: monospace;
            margin: 5%;
            padding-bottom: 9px;
        }
        .cross{
            background-color: red;
            border: 2px solid #124577;
            color: black;
            font-size: 16px;
            font-weight: bolder;
        }
        .totaltime{
                    background-color: #823e3e87;
            height: 56px;
            display: inherit;
            text-align: center;
            padding: 12px;
            color: white;
            font-size: 22px;
            font-weight: 900;
            margin-left: 10px;
           margin-right: 10px;
        }
        h2{
            padding-top: 6px;
        }
        .styled-select {
   overflow: hidden;
   min-width: 100px;
}

.styled-select select {

   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: auto;
}
.popupclass{
    display: inline-block;
    margin-bottom: 0px;
    margin: mar;
    margin-top: -10px;
    margin-left: 9%;
    color: black
}
.left{
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 900;
}
.right{
    background-color: #4eb75e;
    color: white;
    font-size: 16px;
    font-weight: 900;
}  

    </style>
</head>
<body>
    <div class="titlebar"> <h2>Daily Task</h2></div>
<div class="main_block">
<div ng-app="todoApp" ng-controller="todoController">
    <form >
        <div class="enter_details"> <span><textarea rows="4" cols="50" placeholder="please enter your task here" ng-model="title" class="textareaclass" required></textarea></span>
            <span class="select_span hrselect"><select ng-model="hour" type="" class="selected_option styled-select black rounded">
                <option selected value="0">0 Hour</option> 
                <option  value="1">1 Hour</option>
                <option value="2">2 Hour</option>
                <option value="3">3 Hour</option>
                <option value="4">4 Hour</option>
                <option value="5">5 Hour</option>
                <option value="6">6 Hour</option>
                <option value="7">7 Hour</option>
                <option value="8">8 Hour</option>
                <option value="9">9 Hour</option>
                <option value="10">10 Hour</option>
            </select></span>
            <span class="select_span"><select ng-model="minute" type="" class="selected_option">
                <option selected value="0">0 Min</option>
                <option value="5">5 Min</option>
                <option value="10">10 Min</option>
                <option value="15">15 Min</option>
                <option value="20">20 Min</option>
                <option value="25">25 Min</option>
                <option value="30">30 Min</option>
                <option value="35">35 Min</option>
                <option value="40">40 Min</option>
                <option value="45">45 Min</option>
                <option value="50">50 Min</option>
                <option value="55">55 Min</option>
            </select></span>
            <span > <button ng-disabled="minute == '0' && hour == '0' || title.length < 5 " ng-click="add()" class="addbutton">Add</></span>
           
        </div>
    </form>
    <ul>
        <li class="alltask" ng-repeat="t in tasks track by $index">{{ t }}<span class="hmc"><span>h :{{hourarray[$index]}}</span><span> m :{{minutearray[$index]}}</span> <button class="cross" ng-click="delete(minutearray[$index] ,hourarray[$index])">x</button></span></li>

    </ul>
    <div ><div class="totaltime"><span>Total Time : {{totalhour}} Hour &  {{totalmin}} Minute </span>
        <div class="popupclass">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Task done</button>
          
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                  </div>
                  <div class="modal-body">
                    <p>Total Time : {{totalhour}} Hour &  {{totalmin}} Minute</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default left" data-dismiss="modal" >cancel</button>
                    <button type="button" class="btn btn-default right" ng-click= "submitall()" data-dismiss="modal" >submit</button>
                  </div>
                </div>
                
              </div>
            </div>
             </div>      
          </div>
    </div> 
</div></div>
</body>
<script>
    angular.module('todoApp', [])
        .controller('todoController', function($scope, $http) {
            $scope.dclass="ok"
            $scope.title="";
            $scope.totalhour=0;
            $scope.totalmin=0;
            $scope.hour='0';
            $scope.minute='0';
            $scope.tasks = [];
            $scope.hourarray=[];
            $scope.minutearray=[];
            $scope.alldetails=[];
            $scope.temp={};
           $scope.add = function() {
            $scope.tasks.push($scope.title);
            $scope.hourarray.push($scope.hour);
            $scope.minutearray.push($scope.minute);
             $scope.temp={
                 "task" : $scope.title,
                 "Hour" : $scope.hour,
                 "minute" : $scope.minute
             }
            $scope.alldetails.push($scope.temp);
            $scope.temp={};
            $scope.hour=parseInt($scope.hour);
            $scope.minute=parseInt($scope.minute);
            $scope.totalmin =$scope.totalmin + $scope.minute;
            if($scope.totalmin > 59){
             $scope.totalhour = $scope.totalhour + 1;
                    $scope.totalmin = $scope.totalmin - 60;
                }
                $scope.totalhour=$scope.totalhour+$scope.hour
                $scope.hour='0';
                $scope.minute='0';
                $scope.title='';
            }
            $scope.delete = function(min , hour) {
                if(min > $scope.totalmin){
                    $scope.totalmin = $scope.totalmin + 60 - min;
                    $scope.totalhour = $scope.totalhour - 1;
                }
                else{
                    $scope.totalmin = $scope.totalmin - min;
                }
            $scope.totalhour = $scope.totalhour - hour
            $scope.tasks.splice(this.$index, 1);
            $scope.hourarray.splice(this.$index, 1);
            $scope.minutearray.splice(this.$index, 1);
            $scope.alldetails.splice(this.$index, 1);
            }
            $scope.submitall= function(){
             console.log($scope.alldetails)
             window.location.href = 'file:///C:/amar/productivehours/ProductiveHours/Employees/daily%20task.html'
            }
        })
        
</script>
</html>